

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Futura, sans-serif;
  color: #54575A;
  background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 52.6%, #C2FFD6 94.19%);
  background-repeat:no-repeat;
  background-size: cover;
}

.wrapper {
position: relative;
max-width: 1440px;
height: 1379px;
margin:auto;
width: 100%;
}

.brand-img{
  position: absolute;
  max-width: 100%;
  height: 47.64px; 
  left: 221px;
  top: 50.25px;
}

.title{
position: absolute;
width: 458px;
height: 135px;
left: 221px;
top: 200px;
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 67px;
font-family: Futura,sans-serif;
}

.txt{
  position: absolute;
  width: 394px;
  height: 96px;
  left: 221px;
  top: 403px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  font-family: Aeonik,sans-serif;
}

.app-store.btn{
  position: absolute;
  width: 138.44px;
  height: 46.28px;
  left: 221px;
  top: 600px;
}

.app-store.btn img{
  width: 138.44px;
  height: 46.28px;
}

.google-play-btn {
  position: absolute;
  width: 156.19px;
  height: 46.28px;
  left: 381.81px;
  top: 600px;
}

.google-play-btn img {
  width: 156.19px;
  height: 46.28px;
}

.main-image-container{
  position: absolute;
  width: 535.72px;
  height: 309.27px;
  left: 683.28px;
  top: 229.73px;
}

.main-image-container img{
  height: 411.15px;
}

.profile-img {
  position: absolute;
  height: 444px;
  left: 737px;
  right: 479px;
  top: 686px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.orders-img{
  position: absolute;
  height: 470px;
  left: 479px;
  right: 737px;
  top: 913px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.cart-img{
  position: absolute;
  height: 222px;
  left: 221px;
  right: 995px;
  top: 1157px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.home-img{
  position: absolute;
  height: 470px;
  left: 995px;
  right: 221px;
  top: 908px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.product-img{
  position: absolute;
  height: 222px;
  left: 737px;
  right: 479px;
  top: 1157px;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

.omotac {
  max-width: 960px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  height: 1379px;
  padding: 20px;
}

.omotac a {
  text-decoration: none;
  color:darkgray;
  font-family: Aeonik,sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.omotac a:hover {
  color: limegreen;
}

.block{
  display: block;
}
.omotac img {
max-width: 100%;
height: 47.64px;
margin:50px 0;
}

.omotac h1 {
  font-size: 30px;
}

.proto-btn {
  position: absolute;
  width: 138.44px;
  height: 46.28px;
  left: 561px;
  top: 600px;
  border:2px solid limegreen;
  border-radius:5px;
  box-sizing: border-box;
}

.proto-btn a {
  text-decoration: none;
  color:limegreen;
  padding: 10px;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate;
  transform: translate(-50%,-50%);
}

div.proto-btn:hover, .app-store.btn:hover, .google-play-btn:hover{
  opacity: 50%;
}

